* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 1vw;
}

#container-gatos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#container-gatos div {
    width: 250px;
    text-align: center;
    padding: 20px;
}

img {
    width: 100px;
}
img:hover {
    cursor: pointer;
}


#btn-random {
    padding: 5px;
    width: 100%;
    background-color: darkred;
    border: none;
    border-radius: 10px;
    color: white;
}

#btn-random:hover {
    cursor: pointer;
    background-color: rgb(78, 11, 11);
}

#btn-randomtton:active {
    transform: scale(0.98);
}

input {
    padding: 5px;
    width: 100%;
    outline: none;
    border: none;
    margin-top: 5px;
    font-family: monospace;
}
#nm-random{
    border-radius: 4px;
    border-bottom: 3px solid darkred;

}